go 1.25.8

use (
	./configurator
	./context
	./db
	./docker
	./httputils
	./logger
	./logger/example
	./misc
	./orm
	./queue
	./response
	./server
	./tests
	./validator
	./verser
)

replace github.com/global-torque/go-common/configurator/v2 v2.0.1 => ./configurator

replace github.com/global-torque/go-common/context/v2 v2.0.1 => ./context

replace github.com/global-torque/go-common/db/v2 v2.0.1 => ./db

replace github.com/global-torque/go-common/docker/v2 v2.0.1 => ./docker

replace github.com/global-torque/go-common/httputils/v2 v2.0.1 => ./httputils

replace github.com/global-torque/go-common/logger/v2 v2.0.1 => ./logger

replace github.com/global-torque/go-common/logger/example/v2 v2.0.1 => ./logger/example

replace github.com/global-torque/go-common/misc/v2 v2.0.1 => ./misc

replace github.com/global-torque/go-common/orm/v2 v2.0.1 => ./orm

replace github.com/global-torque/go-common/queue/v2 v2.0.1 => ./queue

replace github.com/global-torque/go-common/response/v2 v2.0.1 => ./response

replace github.com/global-torque/go-common/server/v2 v2.0.1 => ./server

replace github.com/global-torque/go-common/tests/v2 v2.0.1 => ./tests

replace github.com/global-torque/go-common/validator/v2 v2.0.1 => ./validator

replace github.com/global-torque/go-common/verser/v2 v2.0.1 => ./verser
